button{
    display: flex;
    background-color: rgb(40, 32, 150);
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
}
h1{
    color: rgb(40, 32, 150);
    text-align: center;
}
body{
    background-color: burlywood;
    background-size: 100%;
}
.passwordGenerator{
    margin: auto;
    padding: 20px;
    border: 5px solid black;
    border-radius: 25px;
    height: 200px;
    width: 200px;
    text-align: center;
}